---
name: "Runner Info"

on:
  workflow_dispatch: ~

jobs:
  runner-info-unix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"

    runs-on: "${{ matrix.os }}"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - name: "Bash"
        run: |
          echo "${BASH_VERSION}"

      - name: "Accounting"
        run: |
          whoami
          id

      - name: "CPU"
        run: |
          uname -m
          uname -s
          uname -a
          if command -v nproc; then
            nproc
          fi

      - name: "Env"
        run: |
          env | sort

      - name: "OS"
        run: |
          if [[ -f "/etc/os-release" ]]; then
            cat /etc/os-release
          fi

      - name: "Path Printer"
        run: |
          python3 -u path-printer.py

      - name: "Version Printer"
        run: |
          python3 -u version-printer.py

      - name: "Packages"
        run: |
          if command -v dpkg; then
            dpkg -l | cat
          fi

      - name: "Git"
        run: |
          git branch -a
          git remote -v

      - name: "Git tags"
        run: |
          git tag

      - name: "Pip Freeze"
        run: |
          pip freeze

  runner-info-windows:
    runs-on: "windows-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - name: "Powershell"
        run: |
          echo $PSVersionTable

      - name: "Accounting"
        run: |
          whoami

      - name: "System Info"
        run: |
          systeminfo

      - name: "Env"
        run: |
          env | sort

      - name: "Pwsh Env"
        run: |
          pwsh --command 'Get-ChildItem Env: | Format-Table -Wrap -AutoSize'

      - name: "Path Printer"
        run: |
          python3 -u path-printer.py

      - name: "Version Printer"
        run: |
          python3 -u version-printer.py

      - name: "Packages"
        run: |
          winget list --accept-source-agreements

      - name: "Git"
        run: |
          git branch -a
          git remote -v

      - name: "Git tags"
        run: |
          git tag

      - name: "Pip Freeze"
        run: |
          pip freeze
